<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--
        <link rel="stylesheet" type="text/css" media="screen" href="/layui1/css/layui.css">
    --><style>
    label#username-error.error{
        color:red;
        font-size: small;
    }
    label#DSRWMC-error.error{
        color:red;
        font-size: small;
    }
    label#KSRQ-error.error{
        color:red;
        font-size: small;
    }
    label#JSRQ-error.error{
        color:red;
        font-size: small;
    }
    label#KSSJ-error.error{
        color:red;
        font-size: small;
    }
    label#JSSJ-error.error{
        color:red;
        font-size: small;
    }
</style>


</head>
<body>
<div class="main-content">
    <form id="form-quarz-add" class="form-horizontal">
        <h4 class="form-header h4">基本信息</h4>
        <input id="id" name="id" value="${id}" type="hidden">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>用户名称：</label>
                    <div class="col-sm-7">
                        <select name="username" id="username" class="form-control">
                            <option value="${quarz.username}">[[${quarz.username}]]</option>
                            <option th:each="name:${list}" th:value="${name.key}">[[${name.value}]]</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>定时任务名称：</label>
                    <div class="col-sm-7">
                        <input name="DSRWMC" id="DSRWMC" th:value="${quarz.DSRWMC}" placeholder="请输入定时任务名称" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>开始日期：</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="KSRQ" th:value="${#dates.format(quarz.KSRQ,'yyyy-MM-dd')}" placeholder="开始日期" name="KSRQ" required/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>结束日期：</label>
                    <div class="col-sm-7">
                        <input name="JSRQ" th:value="${#dates.format(quarz.JSRQ,'yyyy-MM-dd')}" placeholder="结束日期" class="form-control" type="text" maxlength="30" id="JSRQ" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>开始时间：</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="KSSJ" th:value="${quarz.KSSJ}" placeholder="开始时间" name="KSSJ" required/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>结束时间：</label>
                    <div class="col-sm-7">
                        <input name="JSSJ" placeholder="结束时间" th:value="${quarz.JSSJ}" class="form-control" type="text" maxlength="30" id="JSSJ" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>定时任务状态：</label>
                    <div class="col-sm-7">
                        <select name="ZT" id="ZT" class="form-control">

                            <option value="1" th:selected="${quarz.ZT == '1'}">启用</option>
                            <option value="0" th:selected="${quarz.ZT == '0'}">关闭</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
                <button type="button" class="btn btn-sm btn-primary" onclick="cancle()"><i class="fa fa-check"></i>取 消</button>&nbsp;
            </div>
        </div>
    </form>
</div>

</body>
<script type="text/javascript" src="/js/libs/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/layui1/layui.js"></script>
<script type="text/javascript" src="/js/ry-ui.js"></script>
<script type="text/javascript" src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/blockUI/jquery.blockUI.js"></script>
<script>
    /*init();
    function init(){
     var id = $("#id").val();
     $.ajax({

     })
    }*/
    layui.use(['layer','laydate','jquery'], function(){
        var layer = layui.layer;
        var laydate = layui.laydate;
        var $ = layui.jquery;
        laydate.render({
            elem: '#KSRQ'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#JSRQ'
            ,trigger: 'click'
        });
        laydate.render({
            elem: '#KSSJ'
            ,trigger: 'click'
            ,type:'time'
        });
        laydate.render({
            elem: '#JSSJ'
            ,trigger: 'click'
            ,type:'time'
        });
    });
    $("#form-quarz-add").validate({
        onkeyup:false,
        rules:{
            username:{
                required:true
            },
            DSRWMC:{
                required:true
            },
            KSRQ:{
                required:true
            },
            JSRQ:{
                required:true
            },
            KSSJ:{
                required:true
            },
            JSSJ:{
                required:true
            }
        },
        messages:{
            username:'请输入用户名',
            DSRWMC:'请输入定时任务名称',
            KSRQ:"请输入开始日期",
            JSRQ:"请输入结束日期",
            KSSJ:"请输入开始日期",
            JSSJ:"请输入结束日期"
        },
        focusCleanup: true
    });
    function cancle() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);
    }
    function submitHandler() {
        if ($.validate.form()) {

            var now = new Date();

            if (($("#KSRQ").val()) < now.getTime()) {
                $.modal.alertWarning("开始日期不能小于当前日期");
                return;
            }
            if (($("#JSRQ").val()) < $("#KSRQ").val()) {
                $.modal.alertWarning("结束日期不能小于开始日期");
                return;
            }
            var year = $("#KSRQ").val().split("-")[0];
            var month = $("#KSRQ").val().split("-")[1] - 1;
            var day = $("#KSRQ").val().split("-")[2];
            var hh = $("#KSSJ").val().split(":")[0];
            var mm = $("#KSSJ").val().split(":")[1];
            var ss = $("#KSSJ").val().split(":")[2];
            var dsDate = new Date(year, month, day, hh, mm, ss);
            if (now.getTime() >= dsDate.getTime()) {
                $.modal.alertWarning("定时任务时间不能小于当前时间");
                return;
            }
            if (($("#JSSJ").val()) < ($("#KSSJ").val())) {
                $.modal.alertWarning("结束时间不能小于开始时间");
                return;
            }
            add();
        }

    }
    function add() {
        var DSRWMC = $("#DSRWMC").val();
        var username = $("#username").val();
        var KSRQ = $("#KSRQ").val();
        var JSRQ = $("#JSRQ").val();
        var KSSJ = $("#KSSJ").val();
        var JSSJ = $("#JSSJ").val();
        var ZT = $("#ZT").val();

        $.ajax({
            type : "POST",
            url : "/quarz/addQuarz",
            data : {
                "DSRWMC": DSRWMC,
                "username": username,
                "KSRQ": KSRQ,
                "JSRQ": JSRQ,
                "KSSJ": KSSJ,
                "JSSJ": JSSJ,
                "ZT": ZT
            },
            success : function(data) {
                if(data.code==0){
                    $.operate.successCallback(data);
                }
            }
        });
    }

</script>

</html>