<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>登录</title>
    <link href="/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
<style>
    .pointer{cursor: pointer;
    display:inline-block;vertical-align:middle;
    }
    .refresh{
        font-size:14px;
    }
</style>
<div class="login">
    <div class="message">用户权限管理系统</div>
    <div id="darkbannerwrap"></div>

    <form id="login-form" method="post" onsubmit="return false;">
        <input id="username" name="username" placeholder="用户名" type="text">
        <hr class="hr15">
        <input id="password" name="password" placeholder="密码" type="password">
        <hr class="hr15">
        <input type="text" id="validateCode" name="validateCode" class="form-control code" placeholder="验证码" maxlength="5" autocomplete="off">
        <hr class="hr15">
        <div class="form-group has-feedback" id="code">
            <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
            &nbsp;&nbsp;&nbsp;&nbsp;<a class="refresh" href="javascript:;" @click="refreshCode" >点击刷新</a>
        </div>
        <hr class="hr15">
        <button style="width: 100%;" type="submit" onclick="login(this)">登录</button>
        <hr class="hr20">
        <span id="info" style="color: red"></span>
    </form>

</div>

</body>
<script src="/js/libs/jquery-2.1.1.min.js"></script>
<script src="/js/libs/vue.min.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#code',
        data:{
            src: '/code'
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        methods: {
            refreshCode: function(){
                this.src = "/code?t=" + $.now();
            }
        }
    });
    function login(obj) {
        $(obj).attr("disabled", true);
        var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        var validateCode = $.trim($('#validateCode').val());

        if (username == "" || password == "" || code == "") {
            $("#info").html('用户名密码或者验证码不能为空');
            $(obj).attr("disabled", false);
        } else {
            $.ajax({
                type : 'POST',
                url : "/yzlogin",
                cache : false,
                async : false,
                /*data : $("#login-form").serialize(),*/
                data : {
                    "username" : username,
                    "password" : password,
                    "validateCode" : validateCode
                },

                success : function(r){
                    if(r.code == 0){
                    location.href = '/admin';
                    }else{
                        $("#info").html(r.msg);
                        vm.refreshCode();
                        $(obj).attr("disabled", false);
                    }
                }
            });
        }
    }
</script>
</html>